.title {
  text-align: center;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  max-width: 100rem;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
}
